<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corporate Help Desk Bot</title>
</head>
<body>
    <h1>Corporate Help Desk Bot</h1>
    <p>Bem-vindo ao nosso bot de suporte corporativo! Este bot foi projetado para ajudar os funcionários a resolver problemas comuns relacionados a Companhia e outros departamentos da empresa.</p>
    <p>Para começar, basta digitar sua pergunta ou problema na caixa de entrada abaixo e o bot fornecerá uma resposta ou direcionará você para o departamento apropriado.</p>

    <form method="POST" action="/perguntar">
        <label for="question">Digite sua pergunta:</label><br>
        <input type="text" name="pergunta" placeholder="Digite sua Pergunta"><br><br>
        <button type="submit">Perguntar</button>
</body>
</html>